$primary-color: #FF8080;  // orange
$black-color: #000000;   // black
$white-color: #ffffff;  // white
$background-primary-dark: #071418;  // dark shade of cyan
$background-primary-light: #D1DAE3; // light shade of cyan-blue
$
